@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* GlassButton styles (advanced) */
.glass-button-wrap {
  --anim-time: 0.4s;
  --anim-ease: cubic-bezier(0.25, 1, 0.5, 1);
  --border-width: clamp(1px, 0.0625em, 4px);
  z-index: 2;
  transform-style: preserve-3d;
  transition: transform var(--anim-time) var(--anim-ease);
  position: relative;
}

.glass-button-wrap:has(.glass-button:active) {
  transform: rotateX(25deg);
}

.glass-button-shadow {
  --shadow-cutoff-fix: 2em;
  width: calc(100% + var(--shadow-cutoff-fix));
  height: calc(100% + var(--shadow-cutoff-fix));
  top: calc(0% - var(--shadow-cutoff-fix) / 2);
  left: calc(0% - var(--shadow-cutoff-fix) / 2);
  filter: blur(clamp(2px, 0.125em, 12px));
  transition: filter var(--anim-time) var(--anim-ease);
  pointer-events: none;
  position: absolute;
}

.glass-button-shadow:after {
  content: '';
  background: linear-gradient(
    180deg,
    oklch(from var(--foreground) l c h / 20%),
    oklch(from var(--foreground) l c h / 10%)
  );
  width: calc(100% - var(--shadow-cutoff-fix) - 0.25em);
  height: calc(100% - var(--shadow-cutoff-fix) - 0.25em);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: calc(var(--shadow-cutoff-fix) - 0.5em);
  left: calc(var(--shadow-cutoff-fix) - 0.875em);
  box-sizing: border-box;
  transition: all var(--anim-time) var(--anim-ease);
  opacity: 1;
  border-radius: 9999px;
  padding: 0.125em;
  position: absolute;
  -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask-image: linear-gradient(#000 0, #000 0), linear-gradient(#000 0, #000 0);
  -webkit-mask-position: 0 0, 0 0;
  mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  mask-repeat: repeat, repeat;
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-origin: content-box, border-box;
  mask-origin: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.glass-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  transition: all var(--anim-time) var(--anim-ease);
  background: linear-gradient(
    -75deg,
    oklch(from var(--background) l c h / 5%),
    oklch(from var(--background) l c h / 20%),
    oklch(from var(--background) l c h / 5%)
  );
  box-shadow: inset 0 0.125em 0.125em oklch(from var(--foreground) l c h / 5%),
    inset 0 -0.125em 0.125em oklch(from var(--background) l c h / 50%),
    0 0.25em 0.125em -0.125em oklch(from var(--foreground) l c h / 20%),
    0 0 0.1em 0.25em inset oklch(from var(--background) l c h / 20%),
    0 0 oklch(from var(--background) l c h);
}

.glass-button:hover {
  -webkit-backdrop-filter: blur(0.01em);
  backdrop-filter: blur(0.01em);
  box-shadow: inset 0 0.125em 0.125em oklch(from var(--foreground) l c h / 5%),
    inset 0 -0.125em 0.125em oklch(from var(--background) l c h / 50%),
    0 0.15em 0.05em -0.1em oklch(from var(--foreground) l c h / 25%),
    0 0 0.05em 0.1em inset oklch(from var(--background) l c h / 50%),
    0 0 oklch(from var(--background) l c h);
  transform: scale(0.975);
}

.glass-button-text {
  color: oklch(from var(--foreground) l c h / 90%);
  text-shadow: 0em 0.25em 0.05em oklch(from var(--foreground) l c h / 10%);
  transition: all var(--anim-time) var(--anim-ease);
}

.glass-button:hover .glass-button-text {
  text-shadow: 0.025em 0.025em 0.025em oklch(from var(--foreground) l c h / 12%);
}

.glass-button-text:after {
  content: '';
  width: calc(100% - var(--border-width));
  height: calc(100% - var(--border-width));
  top: calc(0% + var(--border-width) / 2);
  left: calc(0% + var(--border-width) / 2);
  box-sizing: border-box;
  background: linear-gradient(
    var(--angle-2),
    transparent 0%,
    oklch(from var(--background) l c h / 50%) 40% 50%,
    transparent 55%
  );
  z-index: 3;
  mix-blend-mode: screen;
  pointer-events: none;
  transition: background-position calc(var(--anim-time) * 1.25) var(--anim-ease),
    --angle-2 calc(var(--anim-time) * 1.25) var(--anim-ease);
  background-position: 0%;
  background-size: 200% 200%;
  border-radius: 9999px;
  display: block;
  position: absolute;
  overflow: clip;
}

.glass-button:hover .glass-button-text:after {
  background-position: 25%;
}

.glass-button:active .glass-button-text:after {
  --angle-2: -15deg;
  background-position: 50% 15%;
}

.glass-button:after {
  content: '';
  z-index: 1;
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: calc(0% - var(--border-width) / 2);
  left: calc(0% - var(--border-width) / 2);
  padding: var(--border-width);
  box-sizing: border-box;
  background: conic-gradient(
      from var(--angle-1) at 50% 50%,
      oklch(from var(--foreground) l c h / 50%) 0%,
      transparent 5% 40%,
      oklch(from var(--foreground) l c h / 50%) 50%,
      transparent 60% 95%,
      oklch(from var(--foreground) l c h / 50%) 100%
    ),
    linear-gradient(
      180deg,
      oklch(from var(--background) l c h / 50%),
      oklch(from var(--background) l c h / 50%)
    );
  transition: all var(--anim-time) var(--anim-ease), --angle-1 0.5s ease;
  box-shadow: inset 0 0 0 calc(var(--border-width) / 2)
    oklch(from var(--background) l c h / 50%);
  border-radius: 9999px;
  position: absolute;
  -webkit-mask-image: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask-image: linear-gradient(#000 0, #000 0), linear-gradient(#000 0, #000 0);
  -webkit-mask-position: 0 0, 0 0;
  mask-position: 0 0, 0 0;
  -webkit-mask-size: auto, auto;
  mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  mask-repeat: repeat, repeat;
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-origin: content-box, border-box;
  mask-origin: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}

.glass-button:hover:after {
  --angle-1: -125deg;
}

.glass-button:active:after {
  --angle-1: -75deg;
}

.glass-button-wrap:has(.glass-button:hover) .glass-button-shadow {
  filter: blur(clamp(2px, 0.0625em, 6px));
}

.glass-button-wrap:has(.glass-button:hover) .glass-button-shadow:after {
  top: calc(var(--shadow-cutoff-fix) - 0.875em);
  opacity: 1;
}

.glass-button-wrap:has(.glass-button:active) .glass-button-shadow {
  filter: blur(clamp(2px, 0.125em, 12px));
}

.glass-button-wrap:has(.glass-button:active) .glass-button-shadow:after {
  top: calc(var(--shadow-cutoff-fix) - 0.5em);
  opacity: 0.75;
}

.glass-button-wrap:has(.glass-button:active) .glass-button-text {
  text-shadow: 0.025em 0.25em 0.05em oklch(from var(--foreground) l c h / 12%);
}

.glass-button-wrap:has(.glass-button:active) .glass-button {
  box-shadow: inset 0 0.125em 0.125em oklch(from var(--foreground) l c h / 5%),
    inset 0 -0.125em 0.125em oklch(from var(--background) l c h / 50%),
    0 0.125em 0.125em -0.125em oklch(from var(--foreground) l c h / 20%),
    0 0 0.1em 0.25em inset oklch(from var(--background) l c h / 20%),
    0 0.225em 0.05em oklch(from var(--foreground) l c h / 5%),
    0 0.25em oklch(from var(--background) l c h / 75%),
    inset 0 0.25em 0.05em oklch(from var(--foreground) l c h / 15%);
}

@media (hover: none) and (pointer: coarse) {
  .glass-button:after,
  .glass-button:hover:after,
  .glass-button:active:after {
    --angle-1: -75deg;
  }

  .glass-button .glass-button-text:after,
  .glass-button:active .glass-button-text:after {
    --angle-2: -45deg;
  }
}

/* Sparkle animation for AI button */
@keyframes sparkle {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.2);
  }
  49% {
    transform: scale(1.2);
  }
  83% {
    transform: scale(1.2);
  }
}
